.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.box{
	background-image: url('../photos/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 900px;
	width: 100%;
}
.header-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
}
.title{
    font-family: 'Dancing Script';
    font-weight: bold;
	font-size: 28px;
	padding-left: -100px;
}
/* .nav-ul{
	display: flex;
	white-space: nowrap;
}
.nav-li{
    margin-right: 28px; 
}
.nav-a{
	color: #D9F0FF;
	font-family: 'Dancing Script';    
	font-size: 30px;
    padding-left: 20px;
}
.nav-b {
    font-family: 'Poppins';
    font-size: 12px;
	display: inline-block;
	letter-spacing: 2px;
	text-transform: uppercase;
    color: #D9F0FF;
}
.nav-b:hover {
	color: darkred;  doesn't working
	border-bottom: darkred;
} */

/* start burger icon for smartphone */


.header-Logo-Wrapper {
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
}

.headerLogo{
	height: 100%;
}
.box-title{
    /* width: 300px; */
	font-size: 30px;
    text-align: center;
	color: rgb(15, 63, 0);
	margin-top: 165px;
    font-family: 'Lato', sans-serif;
}
.button-box{
	margin-top: 90px;
}
.text-but, .text-but2{
    width: 475px;
    height: 72px;
	font-size: 14px;
	padding: 30px 40px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 36px;
    border: none;	
    background-color: #061035;
    color: #fff;
    font-weight: bold;
}