@media only screen and (max-width: 1024px) {
  .main-nav {
    margin-left: -127px;
  }
  .none {
    display: block;
  }
  .hide {
    display: none;
  }
  .bigText{
    width: 52%;
  }
  .bold{
    margin-top: 10px;
  }
  .site-footer{
    margin-bottom: 42vh;
  }
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

@media only screen and (max-width:920px) {
  .product {
    flex-basis: 45%;
  }
  .product-item__images {
    flex: 1;
    margin-left: 10px;
  }
  .product-item__images__main {
    width: 200px;
    max-height: 150px;
  }
  .product-item__images__examples img {
    width: 60px;
  }
  .product-info__title {
    font-size: 20px;
  }
  .product__item__description {
    max-width: 200px;
  }
}

@media screen and (max-width:769){
  .product {
    flex-basis: 80%;
  }
  
  .product__section__title {
    font-size: 35px;
  }
  .product__container {
    justify-content: center;
  }
  .product-item__images {
    flex: 1;
    margin-left: 100px;
  }
  .product-item__images__main {
    width: 150px;
    height: 120px;
  }
  .product-item__images__examples img {
    width: 60px;
  }
  .product-info__title {
    font-size: 18px;
  }
  .product-view {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .bigText{
    height: auto;
  }
  .site-footer{
    margin-bottom: 20vh;
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media only screen and (max-width: 565px) {
  .product__section {
    padding: 100px 50px;
  }
  .product {
    flex-basis: 100%;
  }
  .product__section__title {
    font-size: 25px;
  }
  .product-item__images {
    flex: 1;
    margin-left: 50px;
  }
  .product-item__images__main {
    width: 150px;
  }
  .product-item__images__examples img {
    width: 40px;
  }
  .product-info__title {
    font-size: 15px;
  }

  .product__item__description li {
    margin-top: 20px;
  }
  .product-info {
    padding: 40px 5px;
    padding-top: 100px;
  }
  .product-info__price {
    font-size: 15px;
  }
  .product-info label {
    font-size: 15px;
  }
  .product-info__cart__icon {
    width: 15px;
    left: 2px;
  }
  .product__item__description {
    font-size: 14px;
  }
  .product-item__images__examples {
    flex-direction: row;
    width: 100%;
    max-width: 150px;
    width: 100%;
  }
  .product-item__images__examples img {
    margin-left: 10px;
  }
  .product-info {
    flex: 2;
  }
  .product__main__img__evaluations {
    margin-top: 50px;
    margin-right: 30px;
  }
  .btn {
    font-size: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .header-Logo-Wrapper {
    display: none;
  }
  .box-title {
    margin-top: 53vh;
  }
  .box {
    height: 800px;
  }
  .box2 {
    height: 200px;
  }
  .main-nav {
    margin-left: 156px;
  }
  .red-slider {
    width: 100%;
  }
  .district-maps{
    display: none;
  }
  .hidden-district-maps{
    display: block;
    width: 100%;
  }
  .bold{
    margin-top: 10px;
  }
  .icon {
    margin-top: 3px;
  }
  .bigText{
    width: 68%;
  }
  .site-footer{
    margin-bottom: 20vh;
  }
  .col-xs-6.col-md-3 {
    width: 39% !important;
}
}

@media only screen and (max-width: 360px) {
  .product__section__title {
    font-size: 23px;
  }
  .product-item__images__main {
    width: 100px;
    max-height: 300px;
  }
  .product-item__description img {
    width: 20px;
  }
  .product-item__images__examples img {
    width: 30px;
  }
  .product__item__description li {
    margin-top: 5px;
    font-size: 13px;
  }
  .view__more__btn__text {
    font-size: 10px;
  }
  .view__more__btn--arrow {
    height: 15px;
  }
}